body , input ,textarea ,select{
	font-family: 'times new roman',arial;
	font-size: 16px;	
}
.wrapper_login {
	width: 330px;
	height: auto;
	margin: 100px auto 0 auto;
	background-color: #d9dbd8;
	padding: 10px;
}
.wrapper_login h1 {
	font-size: 16px;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}

.wrapper_login table tr td {
	padding: 0px 10px;
}

.wrapper_login table tr td input[type='text'],
.wrapper_login table tr td input[type='password'] {
	width: 200px;
	height: 23px;
	line-height: 23px;
}
.wrapper_login table tr td input[type='submit'] {
	background-color: #3d9ccd;
	color: #fff;
	border: none;
	padding: 3px 10px;
	margin-top: 10px;
	float: right;
}
.wrapper {
	width: 900px;
	height: auto;
	margin: 0 auto;
	background-color: #e6e8e5;
	border: 1px solid #000;
	overflow: hidden;
	padding: 10px;
}

.header {
	width: 900px;
	height: 50px;
}

.header h1 {
	color: #000;
	font-size: 26px;
	border-bottom: 3px solid #3d9ccd;
}

.container {
	width: 900px;
	height: auto;
	min-height: 500px;
}

.sidebar {
	width: 200px;
	height: auto;
	float: left;
	margin-right: 15px;
}

.sidebar h2 {
	font-size: 16px;
	color: #fff;
	background-color: #3d9ccd;
	padding: 2px 10px;
	margin-top: 10px;
}

.sidebar ul li {
	margin-left: 20px;
}

.sidebar ul li a {
	color: #000;
	text-decoration: underline;
}

.content {
	width: 685px;
	height: auto;
	float: left;
}

.content h2 {
	font-size: 16px;
	color: #000;
	border-bottom: 1px solid #3d9ccd;
	margin-top: 10px;
}
 .short[type='text'],
 .short[type='password']{
	width: 200px;
}
 .medium[type='text'],
 .medium[type='password']{
	width: 400px;
}
 .long[type='text'],
 .long[type='password']{
	width: 685px;
}
.table1{
	margin-top: 10px;

}
.table1 tr td input[type="text"]{
	height: 23px;
	line-height: 23px;
}
.table2{
	margin-top: 10px;
}
.table2 tr td a {
	color: #70726e;
	text-decoration: none;
}
.table2 tr td{
	text-align: center;
}
.table2 tr:nth-child(2n+1) td {
	background-color: #d9dad9;
}
.table2 tr:nth-child(2n) td {
	background-color: #d2d3d1;
}
.table2 tr th {
	background-color: #3d9ccd;
	color: #fff;
}
.table2 tr th, .table2 tr td {
	padding: 2px;
} 
.error{
	color: red;
	font-weight: bold;
}
.success{
	color: green;
	font-weight: bold;
}